.env
node_modules/*
node/config.js
public/images/mainSlider/*
!public/images/mainSlider/.gitkeep
public/images/SuggestedServices/*
!public/images/SuggestedServices/.gitkeep
public/images/WhatTheySay/*
!public/images/WhatTheySay/.gitkeep
public/images/Donations/*
!public/images/Donations/.gitkeep
public/images/Jobs/*
!public/images/Jobs/.gitkeep
public/images/Stories/*
!public/images/Stories/.gitkeep
public/images/Events/*
!public/images/Events/.gitkeep
public/images/Users/*
!public/images/Users/.gitkeep
!public/images/Users/male.png
!public/images/Users/female.png