@import './mixins';
@import './extends';

@import './variables';

.eventBlock{
    position: relative;
    .eventDay {
        position: absolute;
        z-index: 2;
        left: -7px;
        color: #fff;
        background-color: #c82f2e;
        padding: 5px 10px;
        top: 20px;
        &:after{
            content: "";
            position: absolute;
            top: 98%;
            border-bottom: 6px solid transparent;
            left: 0px;
            border-right: 7px solid #c82f2e;
        }
    }
}
.eventDescription{
    display: flex;
    align-items: start;
    position: relative;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 7px -1px #ccc;
    margin-bottom: 20px;
    width: 100%;
    .rightEventWrap{
        h4{
            font-size: 20px;
            font-weight: 600
        }
        .locationEvent{
            color:$globalColorRed;
            margin-bottom: 10px;
        }
    }
    img{
        max-width: 250px;
        margin-top: 55px
    }
    .rightEventWrap {
        padding: 0 15px;
        width: calc(100% - 250px);
        .eventShort{
            font-size: 14px;
            margin-bottom:0px;
        }
        .viewEvent{
            width: 130px !important;
            float: right;
            text-align: center;
            &:hover{
                text-decoration: none;
            }
            @include transition(pointer);
            @extend %extend-button-search
        }
    }

}
@media screen and (max-width:991px) {
    .eventDescription{
        flex-direction: column;
        img{
            margin: 55px auto 10px;
        }
        .rightEventWrap{
            text-align: center;
            width:100% !important;
        }
    }
}
@media screen and (max-width:767px) {
    .eventDescription {
        .rightEventWrap {
            .eventShort {
                height: 70px;
            }
        }
    }
}