@import './mixins';
@import './extends';

@import './variables';

.resetNav{
    padding: 10px;
    background-color: $globalColorWhite;
    img{
        max-width: 60px;
    }
}
.contentReset {
    background-color:$globalColorWhite;
    margin-top: 35px;
    padding: 45px;
}