@import './mixins';
@import './extends';

@import './variables';
.termsBlock {
    padding: 20px 20px 20px 30px;
    background-color: $globalColorWhite;
    li{
        padding-left: 25px;
        margin-bottom: 15px;
    }
}