.user-content {
  display: flex;
  justify-content: space-between; }
  .user-content .leftAside {
    width: 85px;
    background-color: #ebe7e7; }
    .user-content .leftAside ul {
      padding-left: 0;
      margin-bottom: 0; }
      .user-content .leftAside ul li {
        position: relative; }
        .user-content .leftAside ul li:hover:after {
          background-color: transparent; }
        .user-content .leftAside ul li:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          width: 50%;
          bottom: 0;
          height: 1px;
          background-color: #cccccc; }
        .user-content .leftAside ul li a {
          transition: .4s;
          display: flex;
          height: 85px;
          text-decoration: none;
          align-items: center;
          justify-content: center; }
          .user-content .leftAside ul li a:hover {
            background-color: #c82f2f82; }
          .user-content .leftAside ul li a img {
            max-width: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            font-size: 25px;
            color: #413f3f; }
      .user-content .leftAside ul li:last-child:after {
        background-color: transparent; }
      .user-content .leftAside ul .activeThumb:after {
        background-color: transparent; }
      .user-content .leftAside ul .activeThumb a {
        background-color: #c82f2f; }
        .user-content .leftAside ul .activeThumb a span {
          color: #fff; }
  .user-content .rightAside {
    width: calc(100% - 65px);
    padding: 25px;
    background-color: #fff; }
    .user-content .rightAside h4 {
      padding-bottom: 25px;
      font-size: 21px;
      padding-left: 20px; }
    .user-content .rightAside .profile-content-1 {
      display: flex;
      justify-content: space-between; }
      .user-content .rightAside .profile-content-1 .avatar-section {
        width: 170px;
        text-align: center; }
        .user-content .rightAside .profile-content-1 .avatar-section > img {
          border-radius: 50%;
          max-width: 120px; }
        .user-content .rightAside .profile-content-1 .avatar-section .changeSettings {
          margin-top: 15px;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #413f3f; }
          .user-content .rightAside .profile-content-1 .avatar-section .changeSettings img {
            max-width: 25px !important; }
          .user-content .rightAside .profile-content-1 .avatar-section .changeSettings span {
            font-size: 13px;
            margin-left: 7px; }
      .user-content .rightAside .profile-content-1 .description-profile {
        width: calc(100% - 170px); }
        .user-content .rightAside .profile-content-1 .description-profile ul {
          padding-left: 0; }
          .user-content .rightAside .profile-content-1 .description-profile ul li {
            box-shadow: 0px 2px 1px -2px #ccc;
            display: flex;
            flex-direction: column;
            padding: 10px; }
            .user-content .rightAside .profile-content-1 .description-profile ul li span {
              font-family: none; }
          .user-content .rightAside .profile-content-1 .description-profile ul li:last-child {
            box-shadow: none; }

@media screen and (max-width: 767px) {
  .user-content {
    flex-direction: column; }
    .user-content .leftAside {
      width: 100%; }
      .user-content .leftAside ul {
        display: flex; }
        .user-content .leftAside ul li:after {
          content: "";
          position: absolute;
          left: auto;
          right: 0;
          margin: auto;
          width: 1px;
          bottom: 0;
          height: 50%;
          background-color: #cccccc;
          top: 0; }
    .user-content .rightAside {
      width: 100%; } }

@media screen and (max-width: 767px) and (min-width: 576px) {
  .user-content .leftAside ul {
    display: flex; }
    .user-content .leftAside ul li a {
      width: 85px; } }

@media screen and (max-width: 576px) {
  .user-content .leftAside ul {
    display: flex; }
    .user-content .leftAside ul li a {
      width: 65px;
      height: 65px; }
  .user-content .rightAside h4 {
    text-align: center; }
  .user-content .rightAside .profile-content-1 {
    flex-direction: column;
    align-items: center; }
    .user-content .rightAside .profile-content-1 .description-profile {
      width: 100%; }
      .user-content .rightAside .profile-content-1 .description-profile ul li {
        text-align: center; } }
